* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex: 1;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc;
}

/* LADO ESQUERDO */
.login-visual-side {
  flex: 1;
  background-image: url('../../assets/img/lucid-origin_Candid_high-quality_photograph_of_diverse_African_university_students_studying_t-0.jpg');  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.visual-overlay {
  width: 100%;
  padding: 48px;
  background: linear-gradient(180deg, rgba(15, 62, 201, 0.5) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.brand-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-badge {
  background: #ffffff;
  color: #0f3cc9;
  font-weight: 800;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-name {
  font-size: 22px;
  font-weight: 700;
}

.badge-tag {
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.visual-content h2 {
  font-size: 30px;
  margin: 16px 0 12px 0;
  line-height: 1.2;
}

.visual-content p {
  font-size: 14px;
  color: #e2e8f0;
  margin-bottom: 24px;
}

.admin-features {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.check-icon {
  background: rgba(255, 255, 255, 0.2);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.security-footer {
  color: #cbd5e1;
  font-size: 12px;
}

/* LADO DIREITO */
.login-form-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 24px;
}

.form-wrapper {
  width: 90%;
  max-width: 440px;
  padding: 20px 24px;
  border-radius: 6%;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.242);
}

.form-header h2 {
  font-size: 24px;
  color: #0f172a;
}

.form-header p {
  color: #64748b;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  gap: 12px;
}

.input-group label {
  font-size: 13px;
  font-weight: 600;
  color: #334155;
}

.input-group input,
.input-group select {
  padding: 11px 14px;
  border: 1.5px solid #e2e8f0;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background-color: #fff;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #0f3cc9;
}

/* UPLOAD DE LOGO */
.logo-upload-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-preview-img,
.logo-placeholder {
  width: 54px;
  height: 54px;
  border-radius: 8px;
  border: 1.5px dashed #cbd5e1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #64748b;
  text-align: center;
  object-fit: cover;
}

.file-input {
  flex: 1;
  font-size: 12px !important;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #0f3cc9;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1px;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: #0c32a6;
}

@media (max-width: 900px) {
  .login-visual-side {
    display: none;
  }
}